body {
  font-family: sans-serif;
  background: rgba(147, 184, 209, 0.397);
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.picker{
  width: 240px;
}

/*these buttons will be activated in determinate situations (infoEvent) */
.btnParticipate{
  display:none;
  margin-left: 10px;
}

.btnCancel{
  display:none;
  margin-left: 10px;
}

.btnEliminate{
  display:none;
  margin: 10px;
}

.btnOn{
  display:none;
  margin: 10px;
}

.btnOff{
  display:none;
  margin: 10px;
}

.btnMod1{
  display:none;
  margin: 10px;
}

.partTab{
  display:none;
  margin: 10px;
}

.btnMod2{
  display:none;
  margin: 10px;
}

.nopartTab{
  display:none;
  margin: 10px;
}

/* == Responsive Web Design (mobile first) ===== */
/* MOBILE */

.content {
  width: 100%;
  
}

/* Center the content in the browser window */
.container {
  margin-top: 100px;
  width: 35%;
  text-align: center;
}

.title {
  font-size: 3rem;
}
 .user{
  width: 100%;
 }

 .userData{
  margin-top: 10px;
  width: 90%;
  height: 20%;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  word-break:break-all;
 }

 .brand {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}

.nameU{
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  word-break:break-all;
}

.changeName{
  float: left;
  padding: 6px;
}

/* == Media queries (breakpoint) ===== */
/* -----------------------------------
DESKTOP/TABLET
------------------------------------ */
@media only screen and (min-width: 768px){
    
  .content {
    width: 100%;
    
  }

  /* Center the content in the browser window */
  .container {
    margin-top: 100px;
    width: 35%;
    text-align: center;
  }

  .title {
    font-size: 3rem;
  }
  .user{
    width: 100%;
  }

  .userData{
    align-items: center;
    width: 40%;
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
  }

  .brand {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
  }

  .groupData{
    margin-top: 10px;
    text-align: center;
    margin: 10;
    padding: 5;
  }

  
}